.newsCell{
	height:200px;
	background:#11c0ff;
	border:5px double #dcdcdc;
}

.galerysMenu{
	background:#333333;
	border-radius:50px;
	color:white;
}
.galerysMenu:hover{
	background:#443333;
	box-shadow: 0 10px 10px rgba(0,0,0,0.5);
	border: 2px double black;
}